<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Funding Information</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='./logos/PCS_Logo_Card.png') }}" alt="Logo">
    </div>
    
    <div class="container">
        <div class="home-button">
            <a href="{{ url_for('home') }}">Home</a>
        </div>

        <h1>Enter Funding Information for Serial Number '{{ serial_number }}'</h1>
        <form method="POST" action="/add_funding">
            <label for="order_number">Order Number: {{ order_number }}</label><br>
            <input type="hidden" name="serial_number" value="{{ serial_number }}">
            <input type="hidden" name="order_number" value="{{ order_number }}">
            <input type="hidden" name="model" value="{{ model }}">
            <input type="text" name="funding_source" placeholder="Enter Funding Source" required />
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
