<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates\styles.css">
    <title>CSV Reader 2.0</title>
</head>
<body>
    <div class="container">
        <h1>Enter Serial Number:</h1>
        <form method="POST" action="/">
            <input type="text" name="serial_number" placeholder="Enter Serial Number" required />
            <br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>