<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Reader 2.0</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='PCS_Logo_Card.png') }}" alt="Logo">
    </div>


    <div class="container">
        <div class="home-button">
            <a href="{{ url_for('home') }}">Home</a>
        </div>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <h1>Enter Serial Number:</h1>
        <form method="POST" action="/submit">
            <input type="text" name="serial_number" placeholder="Enter Serial Number" required />
            <br />
            <button type="submit">Submit</button>
        </form>

        <!-- Form for uploading CSV -->
        <form method="POST" action="/upload_csv" enctype="multipart/form-data">
            <input type="file" name="csv_file" accept=".csv" required />
            <br />
            <button type="submit">Open CSV</button>
        </form>
    </div>
</body>

</html>